#product_items_list_containers1 .product_items_list_box1{
	display: grid;
	grid-template-columns: repeat(auto-fit, 35rem);
	gap: 1.5rem;
	justify-content: center;
	overflow: hidden;
	/* line-height: 100%; */
	margin-right: auto;
	text-align: center;
	padding: 2rem;
	box-shadow: var(--box-shadow);
	border: var(--border);
	border-radius: 1.5rem;
	align-items: center;
	align-content: space-between;
	flex-wrap: wrap;	
 }

 #product_items_list_containers1 .product_items_list_box1 .box{
    text-align: center;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
 }

 @media (max-width:600px){
 
	#product_items_list_containers1 .product_items_list_box1 .box{
		width: 90%;
		border-radius: .5rem;
	}
	
	#product_items_list_containers1 .product_items_list_box1{
		display: grid;
		grid-template-columns: repeat(auto-fit, 35rem);
		gap: 1.5rem;
		justify-content: center;
		overflow: hidden;
		/* line-height: 100%; */
		margin-right: auto;
		text-align: center;
		padding: 2rem;
		box-shadow: var(--box-shadow);
		border: var(--border);
		border-radius: 1.5rem;
		align-items: center;
		align-content: space-between;
		flex-wrap: wrap;	
 	}
}

#product_items_list_containers1 .product_items_list_box1 .box:hover {
	transform: scale(1.5);
}
 

#product_items_list_containers1 .product_items_list_box1 .box .img_box{
    position: relative;
 }

#product_items_list_containers1 .product_items_list_box1 .box .img_box .box_btns{
	width: 100%;
	display: -webkit-inline-box;
	position: absolute;
	padding: 16px;
	bottom: -13px;
	left: 5%;
 }

#product_items_list_containers1 .product_items_list_box1 .box .box_btns .lcb_1btns {
	display: block;
	color: black;
	WidTH: 30%;
	background-color: var(--with);
	font-size: 1rem;
	padding: 6%;
	border-radius: 0.2rem;
	cursor: pointer;
	margin-top: 1rem;
 }
 
 #product_items_list_containers1 .product_items_list_box1 .box .box_btns .lcb_1btns:hover {
  background-color: black;
	color: white;
 }
 
 #product_items_list_containers1 .product_items_list_box1 .box img{
    height: 25rem;
 }
 
 #product_items_list_containers1 .product_items_list_box1 .box h3{
    margin:1rem 0;
    font-size: 2.5rem;
    color:var(--black);
 }
 
 #product_items_list_containers1 .product_items_list_box1 .box .price{
    font-size: 2.5rem;
    color:var(--black);
 }
